body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#sosBtn {
    background: red;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
}

#sosBtn:hover {
    background: darkred;
}
